<div id="dual-input-block" style="{{ disabled() ? 'cursor: default' : '' }}">
  <div class="row" [style.display]="noHeader() ? 'none' : null">
    <span class="label {{ disabled() ? 'disabled' : '' }}" [id]="labelId"
      ><ng-content></ng-content
    ></span>
    <!-- Still there while the field is disabled, but plainly not offering
         anything: suppressing only the tooltip left a mark that took the
         accent under the cursor and then answered nothing, which is an
         affordance promising an explanation it does not have. -->
    <mat-icon
      matTooltip="{{ this.tooltip() }}"
      matTooltipShowDelay="400"
      class="label-help"
      [class.inert]="disabled()"
      [matTooltipDisabled]="disabled()"
      >help_outline
    </mat-icon>
    <div class="spacer"></div>
  </div>
  <span hidden [id]="labelId + '-field1'">{{ fieldName(label1()) }}</span>
  <span hidden [id]="labelId + '-field2'">{{ fieldName(label2()) }}</span>
  <div class="row" [formGroup]="formGroup()" style="gap: 5px">
    @if (formSubGroup) {
      <span class="label {{ disabled() ? 'disabled' : '' }}">{{ label1() }}</span>
      <mat-form-field
        class="customInputForm"
        formGroupName="{{ formSubGroup }}"
        (click)="field1.select()"
        (mouseenter)="isField1MouseOver = true; updateOverlay()"
        (mouseleave)="isField1MouseOver = false; updateOverlay()"
        (focusin)="isField1Focused = true; updateOverlay()"
        (focusout)="isField1Focused = false; updateOverlay()"
      >
        <input
          class="customInput"
          spellcheck="false"
          matInput
          type="text"
          #field1
          (keyup.enter)="field1.blur()"
          [formControlName]="this.formControl1()"
          [placeholder]="placeholder1()"
          [attr.data-field]="dataField1()"
          [attr.aria-labelledby]="labelId + ' ' + labelId + '-field1'"
        />
      </mat-form-field>
      <div class="spacer"></div>
      <span
        class="label {{ disabled() ? 'disabled' : '' }}"
        [class.angle-label]="label2() === '⊾'"
        >{{ label2() }}</span
      >
      <mat-form-field
        class="customInputForm"
        formGroupName="{{ formSubGroup }}"
        (click)="field2.select()"
        (mouseenter)="isField2MouseOver = true; updateOverlay()"
        (mouseleave)="isField2MouseOver = false; updateOverlay()"
        (focusin)="isField2Focused = true; updateOverlay()"
        (focusout)="isField2Focused = false; updateOverlay()"
      >
        <input
          class="customInput"
          spellcheck="false"
          matInput
          type="text"
          #field2
          (keyup.enter)="field2.blur()"
          [formControlName]="this.formControl2()"
          [placeholder]="placeholder2()"
          [attr.data-field]="dataField2()"
          [attr.aria-labelledby]="labelId + ' ' + labelId + '-field2'"
        />
      </mat-form-field>
    }
    @if (!formSubGroup) {
      <span class="label {{ disabled() ? 'disabled' : '' }}">{{ label1() }}</span>
      <mat-form-field
        class="customInputForm"
        (click)="field1.select()"
        (mouseenter)="isField1MouseOver = true; updateOverlay()"
        (mouseleave)="isField1MouseOver = false; updateOverlay()"
        (focusin)="isField1Focused = true; updateOverlay()"
        (focusout)="isField1Focused = false; updateOverlay()"
      >
        <input
          class="customInput"
          spellcheck="false"
          matInput
          type="text"
          #field1
          (keyup.enter)="field1.blur()"
          [formControlName]="this.formControl1()"
          [placeholder]="placeholder1()"
          [attr.data-field]="dataField1()"
          [attr.aria-labelledby]="labelId + ' ' + labelId + '-field1'"
        />
      </mat-form-field>
      <div class="spacer"></div>
      <span
        class="label {{ disabled() ? 'disabled' : '' }}"
        [class.angle-label]="label2() === '⊾'"
        >{{ label2() }}</span
      >
      <mat-form-field
        class="customInputForm"
        (click)="field2.select()"
        (mouseenter)="isField2MouseOver = true; updateOverlay()"
        (mouseleave)="isField2MouseOver = false; updateOverlay()"
        (focusin)="isField2Focused = true; updateOverlay()"
        (focusout)="isField2Focused = false; updateOverlay()"
      >
        <input
          class="customInput"
          spellcheck="false"
          matInput
          type="text"
          #field2
          (keyup.enter)="field2.blur()"
          [formControlName]="this.formControl2()"
          [placeholder]="placeholder2()"
          [attr.data-field]="dataField2()"
          [attr.aria-labelledby]="labelId + ' ' + labelId + '-field2'"
        />
      </mat-form-field>
    }
  </div>
</div>
