<div id='subtitle-block'>
  <div class='row'>
    <ng-content></ng-content>
    @if (buttonLabel && icon) {
      <button id='title-button' mat-flat-button color='primary' (click)='click()'>
        @if (icon) {
          <mat-icon>{{ icon }}</mat-icon>
        }
        {{ buttonLabel }}
      </button>
    }
    @if (!buttonLabel && icon) {
      <button id='title-icon-button' mat-icon-button>
        <mat-icon>{{ this.icon }}</mat-icon>
      </button>
    }
  </div>
  @if (description) {
    <p id='title-description'>{{ description }}</p>
  }
</div>
