<div class="playbackControls">
  @if (!this.getStaticAnimating()) {
    <button
      class="playButton"
      [disabled]="invalidMechanism()"
      mat-flat-button
      color="primary"
      (click)="startAnimation('play')"
      matTooltip="Play Animation"
      matTooltipPosition="right"
      matTooltipShowDelay="1000"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
  } @else {
    <button
      class="playButton"
      [disabled]="invalidMechanism()"
      mat-flat-button
      color="primary"
      (click)="startAnimation('pause')"
      matTooltip="Pause Animation"
      matTooltipPosition="right"
      matTooltipShowDelay="1000"
    >
      <mat-icon>pause</mat-icon>
    </button>
  }

  <button
    id="speedButton"
    class="speedButton"
    [disabled]="invalidMechanism()"
    mat-stroked-button
    (click)="handleSpeedChange()"
    matTooltip="Change Animation Speed"
    matTooltipPosition="right"
    matTooltipShowDelay="1000"
  >
    {{
      this.mechanismService.mechanismAnimationIncrement === 4
        ? 3
        : this.mechanismService.mechanismAnimationIncrement
    }}x
  </button>
  <div class="verticalSlider">
    <mat-slider
      [disabled]="invalidMechanism()"
      min="0"
      max="{{ maxTimeSteps() }}"
      (mousedown)="sliderDown()"
      (mousemove)="sliderChange()"
      (mouseup)="sliderUp()"
    >
      <input id="slider" matSliderThumb value="{{ this.mechanismService.mechanismTimeStep }}" />
    </mat-slider>
  </div>


  <!-- The value carries its own unit, matching every other input in the app. -->
  <form id="timeInputWrapper" (ngSubmit)="field.blur()">
    <input
      [disabled]="invalidMechanism()"
      id="animationBar-input"
      name="timestep"
      type="text"
      [(ngModel)]="timestepDisplay"
      (blur)="onNewTimeSubmit()"
      (click)="invalidMechanism() ? null : field.select()"
      #field
    />
  </form>
</div>
