<div id="equationWrapper">
  <panel-section>
    <app-not-ready-warning></app-not-ready-warning>
    <title-block
      description="These equations allow you to solve for the position. velocity, acceleration, and forces for the entire linkage simultaneously. You first need to select loop(s) that provide enough equations to solve for each unknown value. "
    >
      Mechanism Equations
    </title-block>
    <collapsible-subsection titleLabel="Loop Selection" [expanded]="true">
      <img src="assets/placeholder.png" alt="placeholder" />
    </collapsible-subsection>
    <collapsible-subsection titleLabel="Position"> </collapsible-subsection>
    <collapsible-subsection titleLabel="Velocity" [expanded]="true">
      <img src="assets/placeholder2.png" alt="placeholder" />
    </collapsible-subsection>
    <collapsible-subsection titleLabel="Acceleration"> </collapsible-subsection>
    <collapsible-subsection titleLabel="Forces (Static)" [expanded]="true">
      <img src="assets/placeholder3.png" alt="placeholder" />
    </collapsible-subsection>
    <collapsible-subsection titleLabel="Forces (Dynamic)"> </collapsible-subsection>
  </panel-section>
</div>
