<div
  [@openClose]="
    this.tabs.isTabVisible() ? (this.tabs.isAnalysisMode() ? 'openWide' : 'open') : 'closed'
  "
  class="panel"
>
  @if (this.tabs.getCurrentTab() === TabID.SYNTHESIZE) {
    <div class="page1">
      <app-synthesis-panel></app-synthesis-panel>
    </div>
  }
  @if (this.tabs.getCurrentTab() === TabID.EDIT) {
    <div class="page2">
      <app-edit-panel></app-edit-panel>
    </div>
  }
  @if (this.tabs.isAnalysisMode()) {
    <div class="page3">
      <app-analysis-panel></app-analysis-panel>
    </div>
  }
</div>
