@if (analysisDiagnostic) {
  <div class="analysis-diagnostic" role="status">{{ analysisDiagnostic }}</div>
} @else {
  <div
    [@showHide]="noDataSelected ? 'graphHidden' : 'graphShown'"
    [class.compact-single-series]="compactSingleSeries"
    id="graphNoSeries"
    role="status"
  >
    Please select at least one data series.
  </div>
  <div
    [@showHide]="loading ? 'graphHidden' : 'graphShown'"
    [class.compact-single-series]="compactSingleSeries"
    id="graphDragging"
    role="status"
  >
    Graph unavailable while dragging.
  </div>
  <app-analysis-apex-chart
    #chart
    role="img"
    [attr.aria-label]="graphSummary"
    [class.compact-single-series]="compactSingleSeries"
    [series]="displayedSeries"
    [annotations]="chartOptions.annotations!"
    [chart]="chartOptions.chart"
    [colors]="displayedColors"
    [yaxis]="chartOptions.yaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [markers]="chartOptions.markers!"
    [stroke]="chartOptions.stroke!"
    [grid]="chartOptions.grid"
    [xaxis]="chartOptions.xaxis!"
    [tooltip]="chartOptions.tooltip!"
    [legend]="chartOptions.legend!"
  >
  </app-analysis-apex-chart>

}
