<div class="row">
  <!--    Edit Name-->
  <button
    id="button-block"
    (click)="click()?.()"
    mat-stroked-button
    [color]="this.color()"
    [disabled]="this.disabled()"
    [class]="this.color()"
    [matTooltip]="this.tooltip() ?? ''"
    [matTooltipDisabled]="!this.tooltip()"
    [matTooltipShowDelay]="1000"
    [attr.data-action]="dataAction()"
  >
    @if (icon && !customIcon) {
      <mat-icon>{{ icon }}</mat-icon>
    }
    @if (!icon && customIcon) {
      <mat-icon [svgIcon]="customIcon"> </mat-icon>
    }
    <ng-content></ng-content>
  </button>
</div>
